;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies [[binaryage/devtools "0.9.7"]
                [reagent "0.8.0-alpha2"]
                [cljs-http "0.1.46"]
                [metosin/reitit "0.3.0"]
                [pez/clerk "1.0.0"]
                [reagent-utils "0.3.2"]
                [yogthos/config "1.1.1"]
                [metasoarous/oz "1.6.0-alpha2"]
                [venantius/accountant "0.2.4"]
                [clj-commons/cljss "1.6.4"]]

 ;; set an nrepl port for connection to a REPL.
 :nrepl        {:port 8777}

 :builds {:app {:target :browser
                :js-options {:language-out :ecmascript6}
                :output-dir "public/js/compiled"
                :asset-path "/js/compiled"
                :compiler-options {:output-feature-set :es6}
                :modules
                {:main
                 {:entries [varnelli.core]}}

                :devtools
        ;; before live-reloading any code call this function
                {:before-load varnelli.core/stop
         ;; after live-reloading finishes call this function
                 :after-load varnelli.core/start
         ;; serve the public directory over http at port 8700
                 :http-root    "public"
                 :http-port    8700
                 :preloads     [devtools.preload]}}
}}
